<%= form_for(@path) do |f| %>
  <% if @path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@path.errors.count, "error") %> prohibited this path from being saved:</h2>

      <ul>
        <% @path.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="text-align: center">
    <%= f.label "Whatcha lookin' for?" %><br>
    <%= f.text_field :search_term%>
  </div>
  <div class="field" style="text-align: center">
    <%= f.label :start_address %><br>
    <%= f.text_field :start_address%>
  </div>
  <div class="field" style="text-align: center">
    <%= f.label :end_address %><br>
    <%= f.text_field :end_address%>
  </div>
  <div class="actions" style="text-align: center">
    <%= f.submit " "%>
  </div>
<% end %>
