<div id="place-container">
  <div id="directions-places">
    <h2 id="places-directions-places">Directions to <br> <%=@place["name"]%></h2>
    <p><%= @start_to_place.distance_as_string %>, <%= @start_to_place.duration_as_string %></p><br>    
    <% @start_to_place.path.each do |x|%>
      <%== x.HTML_instructions %><br>
    <% end %>
    <h2 id="places-directions-places">Directions to <br><%=@path.end_address %></h2>
    <p><%= @place_to_end.distance_as_string %>, <%= @start_to_place.duration_as_string %></p><br>    
    <% @place_to_end.path.each do |x|%>
      <%== x.HTML_instructions %><br>
    <% end %>
  </div>
  <div id="map-canvas-directions">
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDPNNBRPCecNa5YSDdLRp0VokNsxiwKk&sensor=false&libraries=geometry&callback=initialize"></script>
<script src="/assets/maps-directions.js?body=1"></script>

<script>

  function initialize() {    
    make_map(String("<%= @path.start_address %>"), String("<%= @place["location"]["display_address"].join(' ') %>"), String("<%= @path.end_address %>"), String("<%= @start_to_place.polyline %>"), String("<%= @place_to_end.polyline %>"));
  }
</script>
