<style>
  #map-canvas{
    height: 800px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
</style>

<p id="notice"><%= notice %></p>

<div>
  <%= render :partial => 'form' %>
</div>
  
<div class="showinfo" id="showinfo"><p>Testing<p></div>
<div class="map-canvas" id="map-canvas"></div>
<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
<button id="button" type="button">Click Me!</button>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDPNNBRPCecNa5YSDdLRp0VokNsxiwKk&sensor=false&libraries=geometry&callback=initialize"></script>
<script src="/assets/maps.js?body=1"></script>
<script>
  function initialize() {    
    make_map([
    <% @path.place.scan(/\*(.*?)\^/).each do |p| %>
      ["<%= p[0].scan(/\$(.*?)$/)[0][0] %>", "<%= p[0].scan(/\|(.*?)\$/)[0][0] %>"],
    <% end %>
    ], String("<%= @path.polyline %>"));
  }
  $(button).click(function(e) {
    $(showinfo).text("worked here");
  });
</script>
