<!--<head><%= image_tag "barandlogo.png", :id => "barlogo"%></head>-->
<div id='topbar'><%= image_tag "smalllogocrop.png", :id => "barlogo"%> </div>


<p id="notice"><%= notice %></p>
<div id="container">
  <div id='form_resubmit'>
    <%= render :partial => 'formshow' %>

  </div>
  <div id='yelpwidget'>
    <div id='initialyelpwidget'>
      <p id="initialyelpwidgettext">Click on a location to see more information.</p>
    </div>
  </div>
</div>


<div class="showinfo" id="showinfo">
  <p id="info">Click on a location to see more information.</p>
  <%= image_tag "underlinebar.png", :id => "line1"%>
  <p id="directions">Interested? Driving Directions</p>
</div>

<div id="map-container">
  <%= image_tag "border3.png", :id => "bordermap"%>
  <div class="map-canvas" id="map-canvas"></div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDPNNBRPCecNa5YSDdLRp0VokNsxiwKk&sensor=false&libraries=geometry&callback=initialize"></script>
<script src="/assets/maps.js?body=1"></script>

<script>
  var pins = [
  <% @path.place.scan(/\*(.*?)\^/).each do |p| %>
    ["<%= p[0].scan(/\$(.*?)$/)[0][0] %>", "<%= p[0].scan(/\|(.*?)\$/)[0][0] %>", "<%= p[0].scan(/^(.*?)\|/)[0][0] %>"],
  <% end %>
  ]

  function initialize() {    
    make_map(pins, String("<%= @path.polyline %>"));
  }
</script>


