<style>
  #map-canvas{
    height: 800px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
</style>

<p id="notice"><%= notice %></p>

<p>
<strong>Start address:</strong>
<%= @path.start_address %>
</p>

<p>
<strong>End address:</strong>
<%= @path.end_address %>
</p>

<% @path.place.scan(/\*(.*?)\$/).each do |names|%>
  <p><%= names[0].scan(/\|(.*)$/)[0][0] %> <%= names[0].scan(/^(.*)\|/)[0][0]%></p>    
<% end %>

<div class="map-canvas" id="map-canvas"></div>
<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZDPNNBRPCecNa5YSDdLRp0VokNsxiwKk&sensor=false&libraries=geometry&callback=initialize"></script>
<script src="/assets/maps.js?body=1"></script>
<script>
  function initialize() {
    make_map([
    <% @path.place.scan(/\*(.*?)\^/).each do |p| %>
      ["<%= p[0].scan(/\$(.*?)$/)[0][0] %>", "<%= p[0].scan(/\|(.*?)\$/)[0][0] %>"],
    <% end %>
    ], String("<%= @path.polyline %>"));
  }
</script>
